/* Fuente nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font-family: "Nunito", sans-serif; */

body {
    font-family: "Nunito", sans-serif;    
}

h1 {
    /* propiedad: valor */
    color: indianred;
    font-size: 36px;
    font-family: "Nunito", sans-serif;
    margin: 16px 8px;
    padding: 16px 50px;
    border: 4px solid black;
    border-radius: 20px;
}
p {
    color: black;
    font-size: 24px;
}

