/* Fuente nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font-family: "Nunito", sans-serif; */

body {
    font-family: "Nunito", sans-serif;    
}

h1 {
    /* propiedad: valor */
    color: indianred;
    font-size: 36px;
    font-family: "Nunito", sans-serif;
    margin: 16px 8px;
    padding: 16px 50px;
    border: 4px solid black;
    border-radius: 20px;
}
p {
    color: black;
    font-size: 24px;
}

.footer-p {
    font-size: 16px;
}
.main-p { font-size: 24px;
}
.footer-p{
    display: block;
    margin: 16px 8px;
    padding: 8px;
    border-radius: 8px solid rgb(7, 8, 7);
}

.lodetoto {
     width: 230px;
}

nav {
    display: ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    gap: 16px;
    grid-template-areas: left-ul left-ul logo right-ul right-ul;
}

.left-ul {
    grid-area: left-ul;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.right-ul {
    grid-area: rigth-ul;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo { 
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    list-style-type: none;
}

.card{
    width: 200px;
    padding: 8px;
    border: 5px solid black;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100px;
}

.card-boton {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.card-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: ;
}





