/* Fuente nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font-family: "Nunito", sans-serif; */

body {
    font-family: "Nunito", sans-serif;    
}


h1 {
    /* propiedad: valor */
    color: indianred;
    font-size: 36px;
    font-family: "Nunito", sans-serif;
}

p {
    color: black;
    font-size: 24px;
}

.footer-p {
    font-size: 16px;
}

.main-p { font-size: 24px;

}
h1 {
    margin: 16px 8px;
    padding: 16px 50px;
    border: 4px solid black;
    border-radius: 20px;
}

.footer-p{
    display: block;
    margin: 16px 8px;
    padding: 8px;
    border-radius: 8px solid rgb(7, 8, 7);



}

.lodetoto {
     width: 230px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

nav ul li {
    list-style-type: none;
}

.card{
    width: 200px;
    padding: 8px;
    border: 5px solid black;
    border-radius: 10px;
}

.card img {
    width: 100%;
}

.card-boton {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.card-container {
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}


